p {
    margin-top: 10px; }
    

  img {
    width: 70%;
    margin-bottom: 20px; }


  h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 10px; }


  i {
    margin-right: 20px; }